@use '../../../../styles/variables';

.no-results {
    color: variables.$grey-500;

    padding-top: 4em;
    padding-bottom: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .no-results__title {
        font-size: 1em;
        font-weight: 400;
    }

    .no-results__subtitle {
        font-size: 0.75em;
        font-weight: 400;
    }
}
