@use '../../styles/variables';

.store {
    padding-bottom: 4.25em;
    min-height: 80vh;
    .store__showing {
        font-size: 0.8125em;
        font-weight: 400;
        color: variables.$grey-500;
        text-align: center;
    }
}