@use '../../../styles/variables';

.contact-item {
    display: flex;
    gap: 1.5em;
    align-items: flex-start;

    margin-bottom: 1.75em;

    .contact-item__data {

        .contact-item__icon {
        }

        .contact-item__title {
            font-size: 1.1875em;
            font-weight: 600;

            margin-bottom: 0.5em;
        }

        .contact-item__data-item {
            font-size: 0.875em;
            font-weight: 400;
            line-height: 1.7142857142857142em;
            color: variables.$grey-500;
        }
    }
}