@use '../../../../styles/variables';
@use '../../../../styles/mixins';

.product {
    border: 1px solid variables.$black-100;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

    .product__image {
        width: 100%;
        height: 12.25em;

        margin-bottom: 2.5em;

        border-top-left-radius: 14px;
        border-top-right-radius: 14px;

        background-size: cover;
        background-position: center center;

        position: relative;

            .product__tag {
                font-size: 0.75em;
                color: variables.$white;
                line-height: 1.33em;
                padding-block: 0.16em;
                padding-inline: 0.66em;

                border-radius: 8px;
                
                position: absolute;
                top: 0.66em;
                right: 0.66em;
            }
            .product__tag--popular {
                background-color: variables.$black-800;
            }

            .product__tag--out-of-stock {
                background-color: variables.$red;
            }

        @include mixins.tablet-landscape-styles() {
            height: 14.5em;
        }
    }

    .product__ui {
        padding-inline: 1em;
        padding-bottom: 1em;

        .product__name {
            font-size: 1em;
            line-height: 1.375em;
            font-weight: 600;

            margin-bottom: 0.6em;
        }

        .product__line {
            font-size: 0.7em;
            line-height: 1.33em;
            font-weight: 400;

            color: variables.$grey-500;

            margin-bottom: 0.66em;
        }

        .product__rating-box {
            display: flex;
            align-items: center;
            gap: 0.25em;

            margin-top: 1.0625em;
            margin-bottom: 0.75em;

            .product__rating-star {
                width: 0.95em;
                height: 0.95em;

                background-image: url('../../../../assets/icons/star.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }

            .product__rating-num {
                font-size: 0.9em;
                font-weight: 500;
            }
        }

        .product__price {
            font-size: 1.25em;
            font-weight: 700;
            line-height: 1.45em;

            margin-bottom: 1.72em;
        }
    }
}