@use '../../../../styles/variables';

.product {
    border: 1px solid variables.$black-100;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

    .product__image {
        width: 100%;
        height: 12em;

        margin-bottom: 2.5em;

        border-top-left-radius: 14px;
        border-top-right-radius: 14px;

        background-image: url('../../../../assets/product-bg.jpg');
        background-size: cover;
        background-position: center center;

    }

    .product__ui {
        padding-inline: 1em;
        padding-bottom: 1em;

        .product__name {
            font-size: 1em;
            line-height: 1.375em;
            font-weight: 600;

            margin-bottom: 0.5em;
        }

        .product__line {
            font-size: 0.75em;
            line-height: 1.33em;
            font-weight: 400;

            color: variables.$grey-500;

            margin-bottom: 0.66em;
        }

        .product__rating-box {
            display: flex;
            align-items: center;

            margin-bottom: 0.66em;

            .product__rating-star {
                width: 1em;
                height: 1em;

                background-image: url('../../../../assets/icons/star.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }

            .product__rating-num {
                font-size: 0.75em;
                font-weight: 500;
            }
        }

        .product__price {
            font-size: 1.375em;
            font-weight: 700;
            line-height: 1.45em;

            margin-bottom: 1.72em;
        }
    }
}