@use '../../../styles/variables';
@use '../../../styles/mixins';

.products {
    padding-block: 1.25em;
    margin-bottom: 0.75em;

    .products__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;

        @include mixins.tablet-portrait-styles() {
            grid-template-columns: 1fr 1fr;
        }

        @include mixins.tablet-landscape-styles() {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.4125em;
        }

        @include mixins.desktop-styles() {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

    }
}
