@use '../../../styles/variables';

.products {
    padding-block: 1.25em;
    margin-bottom: 0.75em;

    .products__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }
}
