@use 'variables';
@use 'mixins';

.container {
    margin: 0 auto;
    width: 95%;

    @include mixins.tablet-portrait-styles() {
        width: 720px;
    }

    @include mixins.tablet-landscape-styles() {
        width: 990px;
    }

    @include mixins.desktop-styles() {
        width: 1280px;
    }

    @include mixins.desktop-large-styles() {
        width: 1536px;
    }

}

body {
    font-family: variables.$primary-ff;
    color: variables.$black-700;
}

html {
    font-size: 100%;

    @include mixins.tablet-portrait-styles() {
        font-size: 106.25%;
    }

    @include mixins.desktop-large-styles() {
        font-size: 112.5%;
    }

}

button {
    background: none;
    border: none;
}