//font families
$primary-ff: "Inter", sans-serif;

//colors

$black-900: #000000;
$black-800: #030213;
$black-700: #0A0A0A;
$black-200: rgba(0, 0, 0, 0.5);
$black-100: rgba(0, 0, 0, 0.1);


$grey-500: #717182;
$grey-100: #F3F3F5;

$white: #ffffff;

//breakpoints(mobile is default)
$tablet-portrait-bp: "only screen and (min-width: 752px)";
$tablet-landscape-bp: "only screen and (min-width: 1008px)";
$desktop-bp: "only screen and (min-width: 1424px)";
$desktop-large-bp: "only screen and (min-width: 1920px)";
