@use '../../../../styles/variables';

.loading {
    color: variables.$grey-500;

    padding-top: 4em;
    padding-bottom: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25em;

    .loading__title {
        font-size: 1.5em;
    }

    .loading__subtitle {
        font-size: 0.75em;
    }
}
