@use '../../../../styles/variables';

.dropdown {
    position: relative;

    .dropdown__value {
        font-size: 0.875em;
        font-weight: 600;
        line-height: 1.42em;

        padding-inline: 0.75em;
        padding-block: 0.57em;
        background-color: variables.$grey-100;

        background-image: url('../../../../assets/icons/arrow-down.png');
        background-repeat: no-repeat;
        background-position: 93% center;
        background-size: 1em 1em;

        border-radius: 8px;
    }

    .dropdown__menu {
        display: flex;
        flex-direction: column;

        width: 100%;
        min-height: 0;
        max-height: 12em;
        overflow-y: auto;
        scrollbar-width: none;

        padding: 0.25em;

        position: absolute;
        z-index: 1;
        top: 2.5em;

        border: 1px solid variables.$black-100;
        border-radius: 8px;

        background-color: variables.$white;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
    }

    .dropdown__option {
        font-size: 0.875em;
        line-height: 1.42em;

        color: variables.$black-900;

        padding-inline: 0.5em;
        padding-block: 0.5em;
        cursor: pointer;
    }

    .dropdown__option--selected {
        background-color: variables.$grey-100;

        background-image: url('../../../../assets/icons/check-icon.png');
        background-repeat: no-repeat;
        background-position: 98.7% center;
        background-size: 1em 1em;

        border-radius: 8px;

    }
}