@use '../../../../styles/variables';

.dropdown {
    position: relative;

    .dropdown__value {
        font-size: 0.875em;
        line-height: 1.42em;

        padding-inline: 0.75em;
        padding-block: 0.57em;
        background-color: variables.$grey-100;

        background-image: url('../../../../assets/icons/arrow-down.png');
        background-repeat: no-repeat;
        background-position: 95% center;

        border-radius: 8px;
    }

    .dropdown__menu {
        display: flex;
        flex-direction: column;

        min-height: 0;
        max-height: 11.25em;
        overflow-y: auto;

        padding: 0.25em;

        position: absolute;
        top: 5em;

        border: 1px solid variables.$black-100;
        border-radius: 4px;
    }

    .dropdown__option {
        font-size: 0.875em;
        line-height: 1.42em;

        color: variables.$black-900;

        padding-inline: 0.5em;
        padding-block: 0.5em;
    }

    .dropdown__option--selected {
        background-color: variables.$grey-100;

        background-image: url('../../../../assets/icons/arrow-down.png');
        background-repeat: no-repeat;
        background-position: 95% center;

        border-radius: 8px;

    }
}