.page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.75em;

    margin-bottom: 1.125em;

    .page-buttons__numbers {
        display: flex;
        align-items: center;

        gap: 0.25em;
    }
}