@use '../../../../styles/variables';

.checkbox {

    .checkbox__native {
        display: none;
    }

    .checkbox__custom {
        width: 1em;
        height: 1em;

        border: 1px solid variables.$black-100;
        border-radius: 4px;

        background-color: variables.$grey-100;

        box-shadow: 0px 1px 2px 0px #0000000D;
    }

    .checkbox__label {
        font-size: 0.875em;
    }
}