.contact {
    padding-bottom: 5em;

    .contact__title {
        font-size: 1.75em;
        font-weight: 700;
        line-height: 1.2857142857142858em;
        margin-top: 1.75em;
        margin-bottom: 1.3571428571428572em;
    }
}