@use '../../styles/variables';

.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: variables.$white;
    padding-block: 0.75em;
    border-bottom: 1px solid variables.$black-100;
    box-shadow: 0px 1px 2px -1px variables.$black-100;
    box-shadow: 0px 1px 3px 0px variables.$black-100;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}