@use '../../../../styles/variables';

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  background-color: variables.$black-200;

  pointer-events: auto;
}
