@use '../../styles/variables';

.footer {
    .footer__columns {
        padding-block: 1.5em;
        border-top: 1px solid variables.$black-100;
        border-bottom: 1px solid variables.$black-100;

        .container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 24px;
        }
    }
}