@use '../../styles/variables';
@use '../../styles/mixins';

.footer {
    .footer__columns {
        padding-block: 1.5em;
        border-top: 1px solid variables.$black-100;
        border-bottom: 1px solid variables.$black-100;

        .container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 24px;

            @include mixins.tablet-portrait-styles() {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}