@use '../../../../styles/variables';

.input-field {
    font-size: 0.875em;
    line-height: 1.42em;

    width: 100%;
    padding-inline: 2.5em;
    padding-block: 0.57em;
    background-color: variables.$grey-100;

    background-image: url('../../../../assets/icons/search.png');
    background-repeat: no-repeat;
    background-position: 1% center;
    background-size: 16px 16px;

    border-radius: 8px;

    outline: none;
    border: none;

    &::placeholder {
        color: variables.$grey-500;
    }
}