@use '../../../styles/variables';

.footer-column {
    
    .footer-column__title {
        font-size: 1em;
        line-height: 1.6875em;
        font-weight: 600;
        margin-bottom: 0.75em;
    }

    .footer-column__items {
        display: flex;
        flex-direction: column;
        gap: 8px
    }
}