@use '../../../../styles/variables';

.cart-panel {
    position: fixed;
    z-index: 11;

    width:100vw;
    height: 100vh;

    top: 0;
    left: 110vw;

    background-color: variables.$white;

    border: 1px solid variables.$black-100;

    padding: 2em;

    transition: left 0.45s ease 0.15s;

    pointer-events: none;

    .cart-panel__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 3.5em;

        .cart-panel__title {
            font-size: 1.125em;
            font-weight: 600;
            line-height: 1.66em;
        }

        .cart-panel__x {
            font-size: 1.5em;
            font-weight: 400;
        }
    }

    .cart-panel__total {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 1em;
        line-height: 1.75em;
        font-weight: 700;

        margin-top: 2em;
        margin-bottom: 1em;
    }

    .cart-panel__empty {
        margin-top: 5em;
        color: variables.$grey-500;
        text-align: center;
    }

}

.open {
    left: 0vw;
}